<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!--BOOTSTRAP LINK-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
     <!--icons-->
     <script src="https://kit.fontawesome.com/1392684392.js" crossorigin="anonymous"></script>
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--CSS LINK-->
    <link rel="stylesheet" href="css/style.css">
    <!--FAVICON-->
    <link rel="icon" href="images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  </head>
  <body>
    {{>header}}
    <section id="home">
      <img class="img-fluid" src="images\bg.jpg" alt="hi">
      <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
      <div class="carousel-inner">
          <div class="c1 carousel-item active">
            <h1>FIGHT TILL THE END</h1>
            <h2><span>PAIN</span> IS TEMPORARY, <span>GLORY</span> IS FOREVER</h2>
          </div>
         <div class="c2 carousel-item">
            <h1>PUSH <span>HARDER</span> THAN YESTERDAY</h1>
            <h2>IF YOU WANT A DIFFERENT <span>TOMMORROW</span></h2>
        </div>
       <div class="c3 carousel-item">
            <h1><span>MOTIVATION</span> IS WHAT GETS YOU STARTED</h1> 
            <h2>HABIT IS WHAT KEEP YOU <span>GOING.</span></h2>
       </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      </div>
    </section>
<!-- title section-->
      <section id="title">
      <div class="container">
        <div class="row">
          <div class="d1 col-lg-4 col-md-4 col-sm-12">
            <img class="img-fluid" src="images/img1.jpg" alt="hi">
            <div class="text">
              <h5>FREE LESSON</h5>
              <P>At an elevation of , it has one of the steepest runways in the country, 
              and is used by several charter airlines.</P>
              <h6>Book Now  <a href=""><i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
          </div>
          <div class="d2 col-lg-4 col-md-4 col-sm-12">
            <img class="img-fluid" src="images/img2.jpg" alt="hi">
            <div class="text">
              <h5>35% DISCOUNT</h5>
              <P>At an elevation of , it has one of the steepest runways in the country, 
              and is used by several charter airlines.</P>
              <h6>Book Now  <a href=""><i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
          </div>
          <div class="d3 col-lg-4 col-md-4 col-sm-12">
            <img class="i3 img-fluid" src="images/img3.jpg" alt="hi">
            <div class="text">
              <h5>FREE TESTING</h5>
              <P>At an elevation of , it has one of the steepest runways in the country, 
              and is used by several charter airlines.</P>
              <h6>Book Now <a href=""><i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
          </div>
        </div>
      </div>
      </section>
<!--===============ABOUT US==================-->
      <section id="aboutus">
        <div class="container">
          <div class="row">
            <div class="e1 col-lg-6 col-md-6 col-sm-6">
              <h5>ABOUT US</h5>
              <p>standard dummy text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <button type="button" class="btn btn-outline-dark">MORE ABOUT US</button>
            </div>
            <div class="e2 col-lg-6 col-md-6 col-sm-6">
              <img class="img-fluid" src="images/Aboutus.jpg" alt="hi">
            </div>
          </div>
      </section>
  <!--============SERVICES=========================-->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
              <img class="img-fluid"src="images/thumbsup.png" alt="h1">
            <div class="card-body">
              <h5 class="card-text">WORK PROGRAM</h5>
              <p class="card-subtext">lorem porem sorem<br>sorem porem laua lassan</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
            <img class="img-fluid"src="images/f3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text">EXCELLENT SERVICE</h5>
              <p class="card-subtext">orem porem sorem<br>sorem porem laua lassan<</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
            <img class="img-fluid" src="images/trophy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text">BEST TRAINER</h5>
              <p class="card-subtext">Lorem porem sorem<br>sorem porem laua lassan</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
            <img class="img-fluid" src="images/headset.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text">BEST CONSOLATION</h5>
              <p class="card-subtext">orem porem sorem<br>sorem porem laua lassan<</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--OUR CLASSES-->
  <section id="events">
    <div class="container">
      <h4>OUR CLASSES</h4>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/class2.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h6 class="card-title"> FITNESS (GYM & CARDIO)</h6>
              <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <h6><a href="">LEARN MORE <i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/class1.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h6 class="card-title">STRENGTH TRAINING</h6>
              <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <h6><a href=""> LEARN MORE <i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/class3.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h6 class="card-title">POWER YOGA</h6>
              <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <h6><a href="">LEARN MORE<i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
        </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-dark">EXPLORE</button>
    </div>
  </section>



<!--PROMOTIONS-->
  <section id="promotions">
        <div class="container">
          <div class="row">
            <div class="e2 col-lg-5 col-md-6 col-sm-6">
              <img class="img-fluid" src="images/g11.jpg" alt="hi">
            </div>
            <div class="e1 col-lg-7 col-md-6 col-sm-6">
              <h5>SERVICES</h5>
              <h6>PERSONAL TRAINING <i class="fa-solid fa-dumbbell fa-2xl"></i></h6>
              <p>a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap</p>
                <h6>GROUP PROGRAMMING <i class="fa-solid fa-fire fa-2xl"></i></h6>
              <p>a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap</p>
                <h6>FITNESS TESTING <i class="fa-regular fa-clock fa-2xl"></i></h6>
              <p>a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap</p>
            </div>
          </div>
      </section>
<!--ADS-->
      <section id="ads">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
              <img class="img-fluid"src="images/diamond.png" alt="h1">
            <div class="card-body">
              <h5 class="card-text">948</h5>
              <p class="card-subtext">PERFECT BOOKS</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
            <img class="img-fluid"src="images/time.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text">145</h5>
              <p class="card-subtext">WORKING HOURS</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
            <img class="img-fluid" src="images/love.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text">1349</h5>
              <p class="card-subtext">HAPPY CLIENTS</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
          <div class="card">
            <img class="img-fluid" src="images/thumbsup.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text">768</h5>
              <p class="card-subtext">SUCESS STORIES</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our trainers-->
  <section id="trainers">
    <div class="container">
      <h5>OUR TRAINERS</h5>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/trainer1.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h5 class="card-title">CHARSIE WATT/ <span>Fitness Trainer</span></h5>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/trainer3.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h5 class="card-title">JULIA JAMES/ <span>Strength Trainer</span></h5>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/trainer2.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h5 class="card-title">CHRIS BUMPSTEAD/ <span>Yoga Trainer</span></h5>
            </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
                <h5 class="k1 card-title">FITNESS CLASS THIS SUMMER</h5>
                <h6 class="card-subtitle">PAY NOW AND GET <span class="discount">30% DISCOUNT!</span></h6>
                <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-outline-dark">BOOK NOW</button>

              </div>
          </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
                <h5 class="k1 card-title">YOGA CLASS THIS SUMMER</h5>
                <h6 class="card-subtitle">PAY NOW AND GET <span class="discount">30% DISCOUNT!</span></h6>
                <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-outline-dark">BOOK NOW</button>

              </div>
          </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
                <h5 class="k1 card-title">ZUMBA CLASS THIS SUMMER</h5>
                <h6 class="card-subtitle">PAY NOW AND GET <span class="discount">30% DISCOUNT!</span></h6>
                <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-outline-dark">BOOK NOW</button>
              </div>
          </div>
       </div>
      </div>
    </div>
  </section>

  <!--contactus-->

  <section id="contactus">
    <div class="container">
      <div class="text">
      <h5>GOT A QUESTION? WE WOUL BE HAPPY TO HELP</h5>
      <p>There are many variations of passages of Lorem Ipsum available, 
        but the majority<br> have suffered alteration in some form, 
        by injected humour,</p>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-outline-dark">CONTACT US</button>
      </div>
    </div>
  </section>
  <!--==================GALLERY=================-->
  <section id="gallery">
    <div class="container">
      <h4>OUR GALLERY</h4>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g1.jpg" alt="h1">
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g2.jpg" alt="h1">
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g3.jpg" alt="h1">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g4.jpg" alt="h1">
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g5.jpg" alt="h1">
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g6.jpg" alt="h1">
        </div>
      </div>
      <div class="r3 row">
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g7.jpg" alt="h1">
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g13.jpg" alt="h1">
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4">
          <img class="img-fluid" src="images/g9.jpg" alt="h1">
        </div>
      </div>
    </div>
  </section>
<!-- BMI CALCULATOR-->
  <section id="bmi">
    <div class="container">
      <div class="bmibox">
      <h5>CALCULATE YOUR BMI</h5>
      <div class="row m-5">
        <div class="col">
          <label for="Weight" class="form-label">WEIGHT</label>
          <input type="Number" class="form-control" placeholder="HEIGHT" aria-label="HEIGHT">
        </div>
        <div class="col">
          <label for="HEIGHT" class="form-label">HEIGHT</label>
          <input type="Number" class="form-control" placeholder="WEIGHT" aria-label="WEIGHT">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark">SUBMIT</button>
    </div>
    </div>
    
  </section>
  <!--SOPRTS-->
  <section id="sports">
    <div class="container">
      <div class="text">
      <h5>DO YOU KNOW WHICH SPORT SUITS YOU?</h5>
      <p>This test, helps you etermine which sport suits you.</p>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-outline-dark">PASS THE TEST</button>
      </div>
    </div>
  </section>

  <!--Testimonials-->
  <section id="testimonials">
    <div class="container">
      <h4>TESTIMONIALS</h4>
      <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="column col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="images/test1.jpg" alt="h1">
              <h5>STEVE JOBS</h5>
              <P>This test, helps you etermine which sport suits you 
                There are many variations of passages of Lorem Ipsum available, 
                but the majority
              </P>
              </div>
              <div class="column col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="images/test2.jpg" alt="h1">
              <h5>AMANDA</h5>
              <P>This test, helps you etermine which sport suits you 
                There are many variations of passages of Lorem Ipsum available, 
                but the majority
              </P>
              </div>
            </div>
              
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="column col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="images/test3.jpg" alt="h1">
              <h5>STELLA KING</h5>
              <P>This test, helps you etermine which sport suits you 
                There are many variations of passages of Lorem Ipsum available, 
                but the majority
              </P>
              </div>
              <div class="column col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="images/test4.jpg" alt="h1">
              <h5>RUTHER FORD</h5>
              <P>This test, helps you etermine which sport suits you 
                There are many variations of passages of Lorem Ipsum available, 
                but the majority
              </P>
              </div>
            </div>
          </div>
         <div class="carousel-item">
          <div class="row">
              <div class="column col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="images/test5.jpg" alt="h1">
              <h5>AMILA RUFUS</h5>
              <P>This test, helps you etermine which sport suits you 
                There are many variations of passages of Lorem Ipsum available, 
                but the majority
              </P>
              </div>
              <div class="column col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid" src="images/test6.jpg" alt="h1">
              <h5>JAMICAN LADY</h5>
              <P>This test, helps you etermine which sport suits you 
                There are many variations of passages of Lorem Ipsum available, 
                but the majority
              </P>
              </div>
            </div>
        </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>      
    </div>
  </section>

<!-- EVENTS-->
  <section id="events">
    <div class="container">
      <h4>UP COMING EVENTS</h4>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/events1.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h6 class="card-title">SUMMER TEAM GAMES (2023)</h6>
              <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <h6><a href="">LEARN MORE <i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/events2.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h6 class="card-title">ABSOLUTE SUMMER ACTIVITIES</h6>
              <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <h6><a href=""> LEARN MORE <i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="images/events3.jpg" class="card-img-top" alt="hi">
            <div class="card-body">
              <h6 class="card-title">SPECIAL TRAINING FOR BETTY</h6>
              <p class="card-text">Some quick example text to build on the card title 
                and make up the bulk of the card's content.</p>
                <h6><a href="">LEARN MORE<i class="fa-solid fa-arrow-right fa-lg"></i></a></h6>
            </div>
        </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-dark">ALL EVENTS</button>
    </div>
  </section>

  <!--MORE -->
      <section id="more">
        <div class="container">
          <div class="row">
            <div class="e1 col-lg-6 col-md-6 col-sm-6">
              <h5>GET IN TOUCH</h5>
              <form>
                <div class="mb-3 me-5 ms-5">
                  <label for="Name" class="form-label">Your Name</label>
                  <input type="text" class="form-control" id="Name" aria-describedby="Name">
                </div>
                <div class="mb-3 me-5 ms-5">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 me-5 ms-5">
                  <label for="Message" class="form-label">Your Message</label>
                  <input type="text" class="form-control" id="Message" aria-describedby="Message">
                </div>
                <button type="submit" class="btn btn-outline-dark">Submit</button>
              </form>
            </div>
            <div class="e2 col-lg-6 col-md-6 col-sm-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1839490174007!2d-73.98811752391222!3d40.7579787347994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855c6480299%3A0x55194ec5a1ae072e!2sTimes%20Square!5e0!3m2!1sen!2sin!4v1690629811748!5m2!1sen!2sin" width="800" height="510" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
      </section>

      <!--FOOTER-->
      <section id="footer">
        <div class="container">
          <div class="row">
            <div class="z1 col-lg-3 col-md-3 col-sm-3">
              <h5>ABOUT US</h5>
              <p class="text1">Some quick example text to build on the card title 
                and make up the bulk of the card's content.
                This test, helps you etermine which sport suits you 
                There are many variations of passages </p>
                <a href=""><i class="fa-brands fa-facebook-f fa-2xl" style="color: #ffffff;"></i></a>
                <a href=""><i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff;"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-2xl" style="color: #fafafa;"></i></a>
                <a href=""><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i></a>
                
            </div>
            <div class="z2 col-lg-3 col-md-3 col-sm-3">
              <h5 class="m2">RECENT POSTS</h5>
              <div class="f2">
              <div class="imgs">
                <img class="img-fluid" src="images/g1.jpg" alt="h1">
              </div>
              <div class="text">
                <p>hello beautiful people</p>
              </div> 
            </div>
            <div class="f2">
              <div class="imgs">
                <img class="img-fluid" src="images/g2.jpg" alt="h1">
              </div>
              <div class="text">
                <p>hello beautiful people</p>
              </div> 
            </div>
            <div class="f2">
              <div class="imgs">
                <img class="img-fluid" src="images/g3.jpg" alt="h1">
              </div>
              <div class="text">
                <p>hello beautiful people</p>
              </div> 
            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <h5 class="m2">UP COMING EVENTS</h5>
              <div class="f2">
              <div class="imgs">
                <img class="img-fluid" src="images/g4.jpg" alt="h1">
              </div>
              <div class="text">
                <p>hello beautiful people</p>
              </div> 
            </div>
            <div class="f2">
              <div class="imgs">
                <img class="img-fluid" src="images/g5.jpg" alt="h1">
              </div>
              <div class="text">
                <p>hello beautiful people</p>
              </div> 
            </div>
            <div class="f2">
              <div class="imgs">
                <img class="img-fluid" src="images/g6.jpg" alt="h1">
              </div>
              <div class="text">
                <p>hello beautiful people</p>
              </div> 
            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <h5 class="m2">CONTACT US</h5>
              <div class="f2">
              <div class="imgs">
                <i class="fa-solid fa-phone fa-lg" style="color: #ffffff;"></i>
              </div>
              <div class="text">
                <p>+1 946532012</p>
              </div> 
            </div>
            <div class="f2">
              <div class="imgs">
                <i class="fa-regular fa-message fa-lg" style="color: #ffffff;"></i>
              </div>
              <div class="text">
                <p>firegym@gmail.com</p>
              </div> 
            </div>
            <div class="f2">
              <div class="imgs">
                <i class="fa-solid fa-location-dot fa-lg" style="color: #fafafa;"></i>
              </div>
              <div class="text">
                <p>Times Square, Manhattan</p>
              </div> 
            </div>
            </div>
          </div>
        </div>
      </section>

<!--=================RIGHTS RESERVED============-->
<section id="rights">
  <div class="container">
    <p>all rights are reserved</p>
  </div>
</section>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
    crossorigin="anonymous">
  </script>
  </body>
  </html>